{% extends "base.html" %}

{% block content %}
    <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">№</th>
              <th scope="col">Тип заявки</th>
              <th scope="col">Инвентарь</th>
              <th scope="col">Пользователь</th>
              <th scope="col">Статус</th>
            </tr>
          </thead>
          <tbody>
          {% for item in requests %}
            <tr>
              <th scope="row">{{ loop.index }}</th>
              <td>{{ item.type.name }}</td>
              <td>{{ item.item.name }}, {{ item.item.quantity }} шт.</td>
              <td>{{ item.user.login }}</td>
              <td>
                {% if item.state_id == 1 %}
                <a href="/request/{{ item.id }}/approve" class="btn btn-success">Одобрить</a>
                <a href="/request/{{ item.id }}/decline" class="btn btn-danger">Отклонить</a>
                {% else %}
                {{ item.state.name }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
    </table>
{% endblock %}